<div class="container-fluid no-gutters bg-white">
  <div class="row">
    <div class="col">
      <div class="card border-0">
        <div class="card-body rounded-0 bg-white">
          <form class="form" [formGroup]="registerForm">
            <div class="form-group">
              <label for="fname ">
                <b>First Name</b>
              </label>
              <input type="text" class="form-control w-25" id="firstName" autocomplete="off" formControlName="firstName">
            </div>
            <div class="form-group">
              <label for="lname ">
                <b>Last Name</b>
              </label>
              <input type="text" class="form-control w-25" id="lastName" autocomplete="off" formControlName="lastName">
            </div>
            <div class="form-group">
              <label for="email">
                <b>Email</b>
              </label>
              <input type="email" class="form-control w-25" id="email" autocomplete="off" formControlName="email">
            </div>
            <div class="form-group">
              <label for="activity">
                <b>Activity</b>
              </label>
              <input type="text" class="form-control w-25" id="activity" autocomplete="off" formControlName="activity">
            </div>
            <div class="form-group">
              <label for="comments">
                <b>Comments</b>
              </label>
              <input type="text" class="form-control w-25" id="comments" autocomplete="off" formControlName="comments">
            </div>
          </form>
          <div>
            <Button class="btn btn-primary">Submit</Button>
          </div>
        </div>
      </div>
    </div>
  </div>
