<div class="row mx-auto no-gutters">
  <div class="col-xs-0 col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-8">
    <div class="card rounded-0 border-0 p-3 mx-auto ">
      <table class="table table-responsive table-striped ">
        <thead class="thead-dark">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Activity</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.comments}}</td>
            <td>{{user.activity}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xs-0 col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
</div>
